# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.bak

# Dépendances éventuelles
node_modules/

# Logs
*.log

# Variables d'environnement
.env
.env.local

# Netlify local
.netlify/

# Builds
dist/
build/
_site/

# Installeurs / binaires parasites (ne pas versionner)
*.exe
*.msi
*.vsix
demo chatboot PDF.pdf
