---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for p in site.pages %}
{%- for l in site.langs %}
  <url>
    <loc>{{ (l | locPath(p.slug)) | absUrl }}</loc>
{%- for alt in site.langs %}
    <xhtml:link rel="alternate" hreflang="{{ alt }}" href="{{ (alt | locPath(p.slug)) | absUrl }}" />
{%- endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ (site.defaultLang | locPath(p.slug)) | absUrl }}" />
    <changefreq>{% if p.key == "home" %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if p.key == "home" %}1.0{% elif p.key == "services" or p.key == "solutions" %}0.9{% elif p.key == "contact" %}0.8{% else %}0.7{% endif %}</priority>
  </url>
{%- endfor %}
{%- endfor %}
</urlset>
